doctype html
html(lang="en")
  block head
    include head.jade

body
  h1
    a(href="#{homeUrl}") #{name}
  block menu
    include menu.jade
  .wrapper
    block content
      p This is where the content of the pages will go
