doctype html
html(lang="en")
  block head
    include head.jade

body.open-sans-light
  include bar.jade
  block content
    p This is where the content of the pages will go
  include bar.jade

  script(src='dist/data/dataRepoAbcAdloader.js')
  script(src='dist/data/dataRepoStartsidenFrontpageLayout.js')
  script(src='dist/data/dataReposAllOfThem.js')
  script(src='dist/data/dataReposAll.js')
  script(src='dist/data/dataReposSome.js')
