extends layout

block content
  h2 About Page!
  .about
    p WOW I'm the index page! Such page. Much text!
    img(src="http://i.imgur.com/9G6iA68.jpg")

  ul.items
    li item01
    li item02
    li item09
    li item10

