{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "es2015",
          {
            "loose": true,
            "modules": false
          }
        ],
        "react"
      ]
    }
  }
}
