# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
backend/node_modules
frontend/node_modules

# testing
/coverage
backend/coverage
frontend/coverage

# production
frontend/build

# logs
npm-debug.log*
backend/npm-debug.log*
frontend/npm-debug.log*

# misc
.DS_Store
.env.*
