extends layout

block content
  h2 Index Page!
  .welcome
    p Hi I'm the index page!

  ul.items
    li item01
    li item02
    li item03
    li item04
    li item05
    li item06
    li item07
    li item08
    li item09
    li item10

