ul.bar
  li(class=['bar-item', 'bg-fav-orange-light'])
  li(class=['bar-item', 'bg-fav-orange-middle'])
  li(class=['bar-item', 'bg-fav-orange-dark'])
  li(class=['bar-item', 'bg-fav-pink-shock'])
  li(class=['bar-item', 'bg-fav-purple-light'])
  li(class=['bar-item', 'bg-fav-purple-middle'])
  li(class=['bar-item', 'bg-fav-purple-dark'])
  li(class=['bar-item', 'bg-fav-green-light'])
  li(class=['bar-item', 'bg-fav-green-dark'])
  li(class=['bar-item', 'bg-fav-occre-light'])