head
  meta(charset="UTF-8")
  title Gitinsight
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  = "\n"
  include ../injects/css.html
  = "\n"
  include ../injects/js-blocking.html
  = "\n"
  include ../injects/js-async.html
  