nav
  ul
    li
      a(href="#id-one") Menu Item 1
    li
      a(href="#id-two") Menu Item 2
    li
      a(href="#id-three") Menu Item 3
    li
      a(href="#id-four") Menu Item 4
    li
      a(href="#id-five") Menu Item 5
    li
      a(href="#id-six") Menu Item 6
