$site-width: 100%;
$font-size: 16px;
$line-height: 1;
$header-height: 72px;

// Margin and gutters

$base-margin: 25px;
$base-gutter: 20px;
$base-gutter-content: 18px;

// Colors

$cl-black: #000;
$cl-brown: #d8d8d8;
$cl-green-light:rgba(17, 193, 176, .4);
$cl-green-lighter: rgba(165, 231, 223, 0.50);
$cl-green: #00c0b0;
$cl-green-logo: #11C1B0;
$cl-grey-dark: #656666;
$cl-grey-font: #323232;
$cl-grey-medium: #979797;
$cl-grey-misc-01: #151515;
$cl-grey-misc-02: #222;
$cl-grey-misc-03: #484848;
$cl-grey-misc-04: #686868;
$cl-grey-misc-05: #797a7a;
$cl-grey-misc-06: #989898;
$cl-grey-misc-07: #c0c0c0;
$cl-grey-misc-08: #ccc;
$cl-grey-misc-09: #d8d8d8;
$cl-grey-misc-09b: #edeef2;
$cl-grey-misc-10: #f1f1f1;
$cl-grey-misc-11: #f9f9f9;
$cl-grey-misc-12: #f4f3f3;
$cl-grey: #edeef2;
$cl-navigation-footer: #666;
$cl-orange-dark: #cc562f;
$cl-orange: #f06a3d;
$cl-red-strong: #ff2444;
$cl-red:#bd4040;
$cl-white: #fff;
$cl-yellow: #ff0;
$cl-font: $cl-grey-font;

// Breakpoints

$screen-xs: 425px;
$screen-sm: 766px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1520px;

// Transition time

$ts-time: .2s;
