section(class=["stats", "bg-fav-beige-dark"])
  div(class=["content"])
    .row
      div(class=["small-12", "columns"])
        p.gutter-bottom
          | Below are some interesting graphs based on #[span(class="monospace") git log] data from repos I contribute to privately (not visible on GitHub).
        h4(class=["heading-four", "centered"]) Impact (Additions + Deletions)
        .ct-chart-impact
        h4(class=["heading-four", "centered"]) Cumulative Impact
        .ct-chart-impact-cumulative
        h4(class=["heading-four", "centered"]) Commits
        .ct-chart-commits
        h4(class=["heading-four", "centered"]) Cumulative Commits
        .ct-chart-commits-cumulative
