section(class=["stats", "bg-fav-beige-dark"])
  div(class=["content"])
    .row
      div(class=["small-12", "columns"])
        p.gutter-bottom
          | Below we have a taste of what kind of graphs can be rendered based on #[span(class="monospace") git log] data from repos I contribute to privately (not visible on GitHub).
        p(class=["open-sans-italic", "gutter-bottom"])
          | I'm currently working on revamping the whole interface, which will introduce several ways of looking into the data. Stay tuned!
        h4(class=["heading-four", "centered"]) Impact (Additions + Deletions)
        .ct-chart-impact
        h4(class=["heading-four", "centered"]) Cumulative Impact
        .ct-chart-impact-cumulative
        h4(class=["heading-four", "centered"]) Commits
        .ct-chart-commits
        h4(class=["heading-four", "centered"]) Cumulative Commits
        .ct-chart-commits-cumulative
