// http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; // For IE 6/7 (trigger hasLayout)
    // added by me:
    clear: both;
    display: block;
    overflow: visible;
}
