@import "variables-colors";

// Array of colors. To create bg- and fg- color classes.
// Structure:
// name value

$_colorList:  sb-slategray $cl-sb-slategray,
              sb-gray $cl-sb-gray,
              sb-graylight $cl-sb-graylight,
              sb-white $cl-sb-white,
              sb-orange $cl-sb-orange,
              sb-purple $cl-sb-purple,
              sb-blue $cl-sb-blue,
              sb-yellow $cl-sb-yellow,
              sb-green $cl-sb-green,
              sb-magenta $cl-sb-magenta,
              navy $cl-navy,
              blue $cl-blue,
              aqua $cl-aqua,
              teal $cl-teal,
              olive $cl-olive,
              green $cl-green,
              lime $cl-lime,
              yellow $cl-yellow,
              orange $cl-orange,
              red $cl-red,
              fuchsia $cl-fuchsia,
              purple $cl-purple,
              maroon $cl-maroon,
              white $cl-white,
              gray $cl-gray,
              silver $cl-silver,
              black $cl-black,
              fav-orange-light $cl-fav-orange-light,
              fav-orange-middle $cl-fav-orange-middle,
              fav-orange-dark $cl-fav-orange-dark,
              fav-pink-shock $cl-fav-pink-shock,
              fav-purple-light $cl-fav-purple-light,
              fav-purple-middle $cl-fav-purple-middle,
              fav-purple-dark $cl-fav-purple-dark,
              fav-green-light $cl-fav-green-light,
              fav-green-dark $cl-fav-green-dark,
              fav-beige-light $cl-fav-beige-light,
              fav-beige-dark $cl-fav-beige-dark,
              fav-occre-light $cl-fav-occre-light,
              fav-occre-middle $cl-fav-occre-middle,
              fav-occre-dark $cl-fav-occre-dark,
              fav-coffee $cl-fav-coffee;

@each $_color in $_colorList {
    .bg-#{nth($_color, 1)} {
        background-color: #{nth($_color, 2)} !important;
    }
    .fg-#{nth($_color, 1)} {
        color: #{nth($_color, 2)} !important;
    }
}
