// OpenSans Font Family

@import "variables";

@font-face {
  font-family: 'OpenSansLight';
  src: url('#{$path-fonts}/OpenSans-Light-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-Light-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-Light-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-Light-webfont.svg#OpenSansLight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('#{$path-fonts}/OpenSans-LightItalic-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-LightItalic-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-LightItalic-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('#{$path-fonts}/OpenSans-Regular-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-Regular-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-Regular-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('#{$path-fonts}/OpenSans-Italic-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-Italic-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-Italic-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('#{$path-fonts}/OpenSans-Semibold-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-Semibold-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-Semibold-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('#{$path-fonts}/OpenSans-SemiboldItalic-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('#{$path-fonts}/OpenSans-Bold-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-Bold-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-Bold-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('#{$path-fonts}/OpenSans-BoldItalic-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-BoldItalic-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtrabold';
  src: url('#{$path-fonts}/OpenSans-ExtraBold-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-ExtraBold-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url('#{$path-fonts}/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('#{$path-fonts}/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$path-fonts}/OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('#{$path-fonts}/OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('#{$path-fonts}/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg");
  font-weight: normal;
  font-style: normal;
}

.open-sans-light {
  font-family: 'OpenSansLight', $font-fallback;
}
.open-sans-light-italic {
  font-family: 'OpenSansLightItalic', $font-fallback;
}
.open-sans-regular {
  font-family: 'OpenSansRegular', $font-fallback;
}
.open-sans-italic {
  font-family: 'OpenSansItalic', $font-fallback;
}
.open-sans-semibold {
  font-family: 'OpenSansSemibold', $font-fallback;
}
.open-sans-semibold-italic {
  font-family: 'OpenSansSemiboldItalic', $font-fallback;
}
.open-sans-bold {
  font-family: 'OpenSansBold', $font-fallback;
}
.open-sans-bold-italic {
  font-family: 'OpenSansBoldItalic', $font-fallback;
}
.open-sans-extrabold {
  font-family: 'OpenSansExtrabold', $font-fallback;
}
.open-sans-extrabold-italic {
  font-family: 'OpenSansExtraboldItalic', $font-fallback;
}
