@import "variables";

.heading-two {
    line-height: 28px;
    margin-bottom: 15px;
    font-size: 28px;
    @media (max-width: 767px) { font-size: 24px; }
}
.heading-three {
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: 767px) { font-size: 20px; }
}
.heading-four {
    margin-bottom: 8px;
    font-size: 20px;
    @media (max-width: 767px) { font-size: 18px; }
}
.heading-five {
    margin-bottom: 8px;
    font-size: 18px;
    @media (max-width: 767px) { font-size: 16px; }
}
.heading-six {
    margin-bottom: 6px;
    font-size: 16px;
    @media (max-width: 767px) { font-size: 14px; }
}
.rounded {
    border-radius: 100%;
}
.pos-absolute {
    position: absolute;
}
.last-right {
    margin-right: 0 !important;
}
.last-left {
    margin-left: 0 !important;
}
.last-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom-default {
    margin-bottom: 15px;
}
.uppercase {
    text-transform: uppercase;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.text-shadow-dark {
    text-shadow: 0 1px 1px $cl-black;
}
.text-shadow-light {
    text-shadow: 0 1px 1px $cl-white;
}
