@import "variables";

.heading-two {
    line-height: 28px;
    margin-bottom: 15px;
    font-size: 28px;
    @media (max-width: 767px) { font-size: 24px; }
}
.heading-three {
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: 767px) { font-size: 20px; }
}
.heading-four {
    margin-bottom: 8px;
    font-size: 20px;
    @media (max-width: 767px) { font-size: 18px; }
}
.heading-five {
    margin-bottom: 8px;
    font-size: 18px;
    @media (max-width: 767px) { font-size: 16px; }
}
.heading-six {
    margin-bottom: 6px;
    font-size: 16px;
    @media (max-width: 767px) { font-size: 14px; }
}
.rounded {
    border-radius: 100%;
}
.pos-absolute {
    position: absolute;
}
.pos-relative {
    position: relative;
}
.pos-bottom {
    position: fixed;
    bottom: 0;
}
.pos-bottom-block { // for tricky elements like 'ul'
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}
.last-right {
    margin-right: 0 !important;
}
.last-left {
    margin-left: 0 !important;
}
.last-bottom {
    margin-bottom: 0 !important;
}
.uppercase {
    text-transform: uppercase;
}
.no-decor {
    text-decoration: none;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.centered {
    margin: 0 auto;
}
.text-shadow-dark {
    text-shadow: 0 1px 1px $cl-black;
}
.text-shadow-light {
    text-shadow: 0 1px 1px $cl-white;
}

// position mixin

$_positions:  top,
              bottom,
              left,
              right;

@each $_pos in $_positions {
    .gutter-#{nth($_pos, 1)} {
        margin-#{nth($_pos, 1)}: $gutter-size;
    }
    .gutter-#{nth($_pos, 1)}-half {
        margin-#{nth($_pos, 1)}: $gutter-size/2;
    }
    .gutter-#{nth($_pos, 1)}-double {
        margin-#{nth($_pos, 1)}: $gutter-size*2;
    }
    .no-margin-#{nth($_pos, 1)} {
        margin-#{nth($_pos, 1)}: 0;
    }
}
.no-margins {
    margin: 0;
}
.monospace {
    font-family: "Courier New", courier, sans-serif;
    font-weight: lighter;
    background-color: $cl-silver;
    padding: 2px 4px;
}
