// colors - sublime text 2
$cl-sb-slategray:       #1d1e19;
$cl-sb-gray:            #615e4b;
$cl-sb-graylight:       #8c886d;
$cl-sb-white:           #f6f6e4;
$cl-sb-orange:          #fa841e;
$cl-sb-purple:          #9c65fa;
$cl-sb-blue:            #54d1ea;
$cl-sb-yellow:          #dfcc4e;
$cl-sb-green:           #77d622;
$cl-sb-magenta:         #f3005f;

// colors - mrmrs [ https://github.com/mrmrs/colors/ or http://clrs.cc ]
$cl-navy:               #001f3f;
$cl-blue:               #0074d9;
$cl-aqua:               #7fdbff;
$cl-teal:               #39cccc;
$cl-olive:              #3d9970;
$cl-green:              #2ecc40;
$cl-lime:               #01ff70;
$cl-yellow:             #ffdc00;
$cl-orange:             #ff851b;
$cl-red:                #ff4136;
$cl-fuchsia:            #f012be;
$cl-purple:             #b10dc9;
$cl-maroon:             #85144b;
$cl-white:              white;
$cl-gray:               #aaaaaa;
$cl-silver:             #dddddd;
$cl-black:              #111111;

// personal favorites
$cl-fav-orange-light:   #fea100;
$cl-fav-orange-middle:  #f98e1f;
$cl-fav-orange-dark:    #e46119;
$cl-fav-pink-shock:     #fc3769;
$cl-fav-purple-light:   #9e4784;
$cl-fav-purple-middle:  #89326f;
$cl-fav-purple-dark:    #4d1e40;
$cl-fav-green-light:    #78b600;
$cl-fav-green-dark:     #568300;
$cl-fav-beige-light:    #f2f2ea;
$cl-fav-beige-dark:     #e8e6da;
$cl-fav-occre-light:    #807067;
$cl-fav-occre-middle:   #6b5b54;
$cl-fav-occre-dark:     #352f2b;
$cl-fav-coffee:         #4c3000;
