.colors {
  --color-black: #1b1f23;
  --color-blue-0: #f1f8ff;
  --color-blue-1: #dbedff;
  --color-blue-2: #c8e1ff;
  --color-blue-3: #79b8ff;
  --color-blue-4: #2188ff;
  --color-blue-5: #0366d6;
  --color-blue-6: #005cc5;
  --color-blue-7: #044289;
  --color-blue-8: #032f62;
  --color-blue-9: #05264c;
  --color-gray-0: #fafbfc;
  --color-gray-1: #f6f8fa;
  --color-gray-2: #e1e4e8;
  --color-gray-3: #d1d5da;
  --color-gray-4: #959da5;
  --color-gray-5: #6a737d;
  --color-gray-6: #586069;
  --color-gray-7: #444d56;
  --color-gray-8: #2f363d;
  --color-gray-9: #24292e;
  --color-green-0: #f0fff4;
  --color-green-1: #dcffe4;
  --color-green-2: #bef5cb;
  --color-green-3: #85e89d;
  --color-green-4: #34d058;
  --color-green-5: #28a745;
  --color-green-6: #22863a;
  --color-green-7: #176f2c;
  --color-green-8: #165c26;
  --color-green-9: #144620;
  --color-orange-0: #fff8f2;
  --color-orange-1: #ffebda;
  --color-orange-2: #ffd1ac;
  --color-orange-3: #ffab70;
  --color-orange-4: #fb8532;
  --color-orange-5: #f66a0a;
  --color-orange-6: #e36209;
  --color-orange-7: #d15704;
  --color-orange-8: #c24e00;
  --color-orange-9: #a04100;
  --color-pink-0: #ffeef8;
  --color-pink-1: #fedbf0;
  --color-pink-2: #f9b3dd;
  --color-pink-3: #f692ce;
  --color-pink-4: #ec6cb9;
  --color-pink-5: #ea4aaa;
  --color-pink-6: #d03592;
  --color-pink-7: #b93a86;
  --color-pink-8: #99306f;
  --color-pink-9: #6d224f;
  --color-purple-0: #f5f0ff;
  --color-purple-1: #e6dcfd;
  --color-purple-2: #d1bcf9;
  --color-purple-3: #b392f0;
  --color-purple-4: #8a63d2;
  --color-purple-5: #6f42c1;
  --color-purple-6: #5a32a3;
  --color-purple-7: #4c2889;
  --color-purple-8: #3a1d6e;
  --color-purple-9: #29134e;
  --color-red-0: #ffeef0;
  --color-red-1: #ffdce0;
  --color-red-2: #fdaeb7;
  --color-red-3: #f97583;
  --color-red-4: #ea4a5a;
  --color-red-5: #d73a49;
  --color-red-6: #cb2431;
  --color-red-7: #b31d28;
  --color-red-8: #9e1c23;
  --color-red-9: #86181d;
  --color-white: #fff;
  --color-yellow-0: #fffdef;
  --color-yellow-1: #fffbdd;
  --color-yellow-2: #fff5b1;
  --color-yellow-3: #ffea7f;
  --color-yellow-4: #ffdf5d;
  --color-yellow-5: #ffd33d;
  --color-yellow-6: #f9c513;
  --color-yellow-7: #dbab09;
  --color-yellow-8: #b08800;
  --color-yellow-9: #735c0f;
}

.calendar-graph {
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-L1-bg-gray: #959da5;
  --color-calendar-graph-day-L2-bg-gray: #586069;
  --color-calendar-graph-day-L3-bg-gray: #2f363d;
  --color-calendar-graph-day-L4-bg-gray: #24292e;
  --color-calendar-graph-day-L1-bg-pink: #f9b3dd;
  --color-calendar-graph-day-L2-bg-pink: #ec6cb9;
  --color-calendar-graph-day-L3-bg-pink: #ea4aaa;
  --color-calendar-graph-day-L4-bg-pink: #99306f;
  --color-calendar-graph-day-L1-bg-purple: #d1bcf9;
  --color-calendar-graph-day-L2-bg-purple: #8a63d2;
  --color-calendar-graph-day-L3-bg-purple: #5a32a3;
  --color-calendar-graph-day-L4-bg-purple: #3a1d6e;
  --color-calendar-graph-day-L1-bg-blue: #79b8ff;
  --color-calendar-graph-day-L2-bg-blue: #0366d6;
  --color-calendar-graph-day-L3-bg-blue: #044289;
  --color-calendar-graph-day-L4-bg-blue: #032f62;
  --color-calendar-graph-day-L1-bg-yellow: #fff5b1;
  --color-calendar-graph-day-L2-bg-yellow: #ffdf5d;
  --color-calendar-graph-day-L3-bg-yellow: #f9c513;
  --color-calendar-graph-day-L4-bg-yellow: #b08800;
  --color-calendar-graph-day-L1-bg-orange: #ffd1ac;
  --color-calendar-graph-day-L2-bg-orange: #ffab70;
  --color-calendar-graph-day-L3-bg-orange: #fb8532;
  --color-calendar-graph-day-L4-bg-orange: #c24e00;
  --color-calendar-graph-day-L1-bg-red: #fdaeb7;
  --color-calendar-graph-day-L2-bg-red: #ea4a5a;
  --color-calendar-graph-day-L3-bg-red: #b31d28;
  --color-calendar-graph-day-L4-bg-red: #86181d;
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg-halloween: #ffee4a;
  --color-calendar-graph-day-L2-bg-halloween: #ffc501;
  --color-calendar-graph-day-L3-bg-halloween: #fe9600;
  --color-calendar-graph-day-L4-bg-halloween: #03001c;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-primary);
  text-align: center !important;
  box-sizing: border-box;
  overflow: hidden;
}

.calendar-graph rect.day {
  shape-rendering: geometricPrecision;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
  rx: 2;
  ry: 2;
}
