.calendar-graph {
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-L1-bg-gray: #959da5;
  --color-calendar-graph-day-L2-bg-gray: #586069;
  --color-calendar-graph-day-L3-bg-gray: #2f363d;
  --color-calendar-graph-day-L4-bg-gray: #24292e;
  --color-calendar-graph-day-L1-bg-pink: #f9b3dd;
  --color-calendar-graph-day-L2-bg-pink: #ec6cb9;
  --color-calendar-graph-day-L3-bg-pink: #ea4aaa;
  --color-calendar-graph-day-L4-bg-pink: #99306f;
  --color-calendar-graph-day-L1-bg-purple: #d1bcf9;
  --color-calendar-graph-day-L2-bg-purple: #8a63d2;
  --color-calendar-graph-day-L3-bg-purple: #5a32a3;
  --color-calendar-graph-day-L4-bg-purple: #3a1d6e;
  --color-calendar-graph-day-L1-bg-blue: #79b8ff;
  --color-calendar-graph-day-L2-bg-blue: #0366d6;
  --color-calendar-graph-day-L3-bg-blue: #044289;
  --color-calendar-graph-day-L4-bg-blue: #032f62;
  --color-calendar-graph-day-L1-bg-yellow: #fff5b1;
  --color-calendar-graph-day-L2-bg-yellow: #ffdf5d;
  --color-calendar-graph-day-L3-bg-yellow: #f9c513;
  --color-calendar-graph-day-L4-bg-yellow: #b08800;
  --color-calendar-graph-day-L1-bg-orange: #ffd1ac;
  --color-calendar-graph-day-L2-bg-orange: #ffab70;
  --color-calendar-graph-day-L3-bg-orange: #fb8532;
  --color-calendar-graph-day-L4-bg-orange: #c24e00;
  --color-calendar-graph-day-L1-bg-red: #fdaeb7;
  --color-calendar-graph-day-L2-bg-red: #ea4a5a;
  --color-calendar-graph-day-L3-bg-red: #b31d28;
  --color-calendar-graph-day-L4-bg-red: #86181d;
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg-halloween: #ffee4a;
  --color-calendar-graph-day-L2-bg-halloween: #ffc501;
  --color-calendar-graph-day-L3-bg-halloween: #fe9600;
  --color-calendar-graph-day-L4-bg-halloween: #03001c;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-primary);
  text-align: center !important;
  box-sizing: border-box;
  overflow: hidden;
}

.calendar-graph rect.day {
  shape-rendering: geometricPrecision;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
  rx: 2;
  ry: 2;
}
