@import 'app/shared/sass/reset';
@import 'app/shared/sass/typography';
@import 'app/shared/sass/bootstrap-callouts';
@import 'app/shared/sass/buttons';
@import 'app/shared/sass/forms';
@import 'app/shared/sass/images';
@import 'app/shared/sass/main-x';

html,
.h-100pc {
  margin: 0;
  height: 100%;
}
html,
body,
#root {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 30px 30px 30px 110px;
  &.light {
    background-color: #F4F4F4;
    color: #4B5159;
  }
  &.dark {
    background-color: #1e1e1e;
    color: #bababa;
  }
}
