section(class=["about"])
  div(class=["content", "text-shadow-light"])
    .row
        div(class=["small-12", "columns", "align-center"])
          div(class=["section-image", "centered"])
          h1(class=["heading-one", "open-sans-bold", "fg-fav-occre-dark", "gutter-top-half", "no-margin-bottom"]) #{name}
          h3(class=["heading-three", "fg-sb-gray"]) #{role}
          p.gutter-bottom-half
            | Hi! I'm a web developer with strong graphic skills established in Oslo, Norway.
            | I love to bend code to my will and create a relevant online experience.<br/>
            | I deliver code that's version-controlled, thoroughly tested through
            | solid CI routines and built through efficient automation.
          p
            | See for yourself by peeking at #[a(href="#{repo}" class="link-to-source-code") the source code for this page on GitHub].<br/>
            | You're welcome to use it!
